<div id="start">
  <h1 class="noborder title"><%= options[:title] %></h1>

  <% if @readme %>
	<%= htmlify(@readme.contents, :markdown) %>
  <% end %>
  
  <h2>All Resources</h2>
  <ul id="resources">
	<% unless @resources.nil? %>
    	<% @resources.sort_by { |s| s.path }.each do |resource| %>
      		<li><%= linkify(resource, resource.path) %></li>
    	<% end %>
    <% end %>
  </ul>

  <div class="clear"></div>

</div>
